<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="cpntainer-mt-5">-->
<!--        <h4>Binding dữ liệu vào select</h4>-->
<!--        <div>-->
<!--            <label for="category">Loại sản phâm</label>-->
<!--            <select id="category">-->
<!--                <option th:each="item: ${categories}"-->
<!--                        th:value="${item.key}"-->
<!--                        th:text="${item.value}"-->
<!--                        th:selected="${item.key==selectedId}">-->

<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <h4>Binding dữ liệu vào radio</h4>-->
<!--        <div th:each="item : ${categories}" class="form-check form-check-inline">-->
<!--            <input class="form-check-input"-->
<!--                    type="radio" name="category" id="categories" th:id="${item.key}" th:value="${item.key}"-->
<!--                    th:checked="${item.key == selectedId}" />-->
<!--            <label class="form-check-label" th:for="${item.key}" th:text="${item.value}"></label>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->